In [1]:
import numpy as np
import pandas as pd

In [22]:
df = pd.DataFrame({
    'Population': [35.467, 63.951, 80.94 , 60.665, 127.061, 64.511, 318.523],
    'GDP': [
        1785387,
        2833687,
        3874437,
        2167744,
        4602367,
        2950039,
        17348075
    ],
    'Surface Area': [
        9984670,
        640679,
        357114,
        301336,
        377930,
        242495,
        9525067
    ],
    'HDI': [
        0.913,
        0.888,
        0.916,
        0.873,
        0.891,
        0.907,
        0.915
    ],
    'Continent': [
        'America',
        'Europe',
        'Europe',
        'Europe',
        'Asia',
        'Europe',
        'America'
    ]
}, columns=['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'])

In [4]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [5]:
df.columns

Index(['Population', 'GDP', 'Surface Area', 'HDI', 'Continent'], dtype='object')

In [6]:
df.index

RangeIndex(start=0, stop=7, step=1)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Population    7 non-null      float64
 1   GDP           7 non-null      int64
 2   Surface Area  7 non-null      int64
 3   HDI           7 non-null      float64
 4   Continent     7 non-null      object
dtypes: float64(2), int64(2), object(1)
memory usage: 408.0+ bytes

In [8]:
df.describe

<bound method NDFrame.describe of    Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America>

In [9]:
df.size

35

In [10]:
df.shape

(7, 5)

In [11]:
df

   Population       GDP  Surface Area    HDI Continent
0      35.467   1785387       9984670  0.913   America
1      63.951   2833687        640679  0.888    Europe
2      80.940   3874437        357114  0.916    Europe
3      60.665   2167744        301336  0.873    Europe
4     127.061   4602367        377930  0.891      Asia
5      64.511   2950039        242495  0.907    Europe
6     318.523  17348075       9525067  0.915   America

In [15]:
df.loc[0]

Population       35.467
GDP             1785387
Surface Area    9984670
HDI               0.913
Continent       America
Name: 0, dtype: object

In [16]:
df["Continent"]

0    America
1     Europe
2     Europe
3     Europe
4       Asia
5     Europe
6    America
Name: Continent, dtype: object

In [18]:
df["Continent"].to_frame #data frame formatına geçti

<bound method Series.to_frame of 0    America
1     Europe
2     Europe
3     Europe
4       Asia
5     Europe
6    America
Name: Continent, dtype: object>

In [19]:
df[["Continent", "GDP"]]

  Continent       GDP
0   America   1785387
1    Europe   2833687
2    Europe   3874437
3    Europe   2167744
4      Asia   4602367
5    Europe   2950039
6   America  17348075

In [20]:
df[1:3]

   Population      GDP  Surface Area    HDI Continent
1      63.951  2833687        640679  0.888    Europe
2      80.940  3874437        357114  0.916    Europe

In [21]:
df.loc["France": "Italy"]

Empty DataFrame
Columns: [Population, GDP, Surface Area, HDI, Continent]
Index: []

In [ ]:
df.loc["France:"]